@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor00: #F28177;
    --cor01: #EB584B;
    --cor02: #996863;
    --cor03: #403534;
    --cor04: #6B5958;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor04);
    font-family: var(--fonte-destaque);
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor02));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(2px, 2px, 0px, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(2px, 2px, 0px, 0.315);
}

nav {
    background-color: var(--cor00);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    font-family: var(--fonte-padrao);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.5s;
    font-size: var(--fonte-destaque);
}

nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor00);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor03);
    font-weight: normal;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor00), transparent);
    text-indent: 8px;
}

main h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor03);
    font-weight: normal;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: auto;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

